@{
    ViewData["Title"] = "Edit Task";
}
@model TimeMgmt.Models.ToDo
<div>
    <h1>Edit Task</h1>
    <p>All fields with an * are required.</p>
</div>
<div>
    <form method="post">
        <div asp-validation-summary="All">
            <label asp-for="TaskName">*Task*:</label>
            <input asp-for="TaskName" /><br />
            <label asp-for="DueDate">Due date:</label>
            <input asp-for="DueDate" /><p class="small font-weight-light">(enter in format mm/dd/yyy)</p>
            <label asp-for="Quadrant">*Quadrant*</label>
            <select asp-for="Quadrant">
                <option value="" class="font-weight-light">Choose Classification</option>
                <option value="1">Urgent & Important</option>
                <option value="2">Not Urgent & Important</option>
                <option value="3">Urgent & Not Important</option>
                <option value="4"> Not Urgent & Not Important</option>
            </select><br />
            <label asp-for="Categoryid">Category</label>
            <select asp-for="Categoryid">
                <option class="font-weight-light">Select a Category</option>

                @foreach (Category mkList in ViewBag.Cat)
                {
                    <option value="@mkList.CategoryID ">@mkList.CategoryName</option>
                }
            </select>
            <label asp-for="Completed">Completed</label>
            <select>
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
